@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        <div class="text-danger display-4 w-100">
                            Are you sure you want to Logout?
                        </div>
                    </div>
                    <div class="card-body">
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" method="post">
                            <button type="submit" class="btn btn-danger text-light fs-3 m-2">Click here to Logout</button>
                            
                        </form>
                        
                    </div>
            
                </div>
            </div>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>
