@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<h2>Reset your password.</h2>
<hr />

<!-- logo -->
<div id="logo">
    <img src="../../assets/media/image/dark-logo.png" alt="image">
</div>
<!-- ./ logo -->


<h5>Reset password</h5>

<!-- form -->
<form method="post">
    <input asp-for="Input.Code" type="hidden" />
    <div class="form-group">
        <input asp-for="Input.Email" class="form-control" placeholder="Username or email" autofocus>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Re</button>
    <hr>
    <p class="text-muted">Take a different action.</p>
    <a asp-page="./Register" class="btn btn-sm btn-outline-light mr-1">Register now!</a>
    or
    <a asp-page="./Login" class="btn btn-sm btn-outline-light ml-1">Login!</a>
</form>
<!-- ./ form -->
@* <div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
                <label asp-for="Input.Password" class="form-label"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
        </form>
    </div>
</div> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
